#test.xml#
~*
*.*~
*.*.bak
.gradle
.idea
20121001
20130217
20130417
20130710
20130825
20140909
apprillia
aprillia
bin
build
build.bat
build.gradle
build.sh
commandlineinput.cfg
daisy
daisy2
generated_daisyfiles
groovy-all-2.4.1.jar
Hakkarainen_daisy_kone*/*
Hakkarainen_daisy_valmis
kesken.zip
kirja3
koe.txt
koe35.txt
koe35_2.txt
kokokirja
koodinpatka.txt
lipsync2smil.zip
lipsync2_xml_files
lipsynctiivistetty
Lipsync_kansio3
Lipsync_kansio3.zip
lipsync_xml_error_in_validate.xml
lipsync_xml_validate.xml
makedoc
Pages
Pages.zip
pallosankari
pallosankari.zip
pipeline
pipeline2
rcv
rcv0
report.xml
report2.xml
report3.xml
report4.xml
report_validation.xml
sampledaisy2generation.bat
sampledaisy3generation.bat
smil2daisylatest_v1.0
smil2daisylatest_v1.0.zip
smil2voicesmil.old.jar
smil2voicesmil.zip
smil2voicesmil_hakkarainen.cfg
smil2voicesmil_old.jar
smil2voicesmil_test1.cfg
src - Copy
src.zip
teponlevy
teppolipsync
Test.groovy
test1
tiedostot
Tiedostot.zip
tulos
tulos.zip
tuloslipsync2smil
tuloslipsync2smil.zip
url_test.txt
UTF8Control.java
vaihe2.cfg
VdTreeXml.xml
versio1
Working Copy of koe.txt
xml_ajat_käsittelemätön
xml_ajat_muutettu.zip
