# koira
executetype = Luo Daisy 3 tiedostot
# customtest_elements=LINE_NUMBER NOTE NOTE_REFERENCE ANNOTATION aoref PAGE_NUMBER OPTIONAL_SIDEBAR OPTIONAL_PRODUCER_NOTE optional prodnote TABLE LIST PAGENUM
#customtest_elements=PAGENUM prodnote TABLE list
customtest_elements=LINE_NUMBER NOTE NOTE_REFERENCE ANNOTATION aoref PAGE_NUMBER OPTIONAL_SIDEBAR OPTIONAL_PRODUCER_NOTE optional prodnote TABLE LIST PAGENUM
# LIST
# elementit, jotka voivat tulla .smil tiedostoon (ks. customtest_elements), mutta joita ei laiteta
# .smil tiedoston header osaan eikä siten myös .ncx tiedostoonkaan:
# LIST
customtest_elements_removed_from_head_element=
typeattributeOfdtbook=list,pl|pagetarget,normal
bookStructfile=bookstruct.cfg
dctitle = Keinulauta2
dtbookoutputfilename=pallosankari.xml
smil2cfgfile=lipsync2smil.cfg
smil3cfgfile=daisy3templates.cfg
smil2templatedir=daisy2templates
smil3templatedir=daisy3templates
dtbook.smilref.templatefile=dtbook.smilref.tmpl
# jos page_lipsync_time_on_off on off, laitetaan kaikille iPage elementeille sen elementin sama alku- ja loppu arvo!
# on arvo tarkoittaa, ettÃ¤ ipage ajoille tulee erilliset alku- ja loppuajat / 1 page elementti:
page_lipsync_time_on_off=on
change_xmlelements_startendtimes_between_wordelements=off
doctitle_on_off=false
doctitle=doctitle
speechgen_opf_meta=speechgen_opf_meta.tmpl
speechgen_meta=speechgen_meta.tmpl
manifest_items=smil_item.tmpl
manifest_item_static_text = manifest_item_static_text.tmpl
item_refs=item_ref.tmpl
spine_refs=itemref.tmpl
seqs=seq.tmpl
speechgen_ncx_meta=speechgen_ncx_meta.tmpl
doctitle_audio=doctitle_audio.tmpl
docauthor=docauthor.tmpl
docauthor_audio=docauthor_audio.tmpl
navPoints=navPoint.tmpl
css_file = dtbook.2005.basic.css
speechgen_smil_meta_tmpl_file_name=speechgen.smil.meta.tmpl
speechgen_ncx_meta_tmpl_file_name=speechgen_ncx_meta.tmpl
dtbook.listAddDaisy3SmillRef=poem line
# pitaa olla "" arvona, jos ei arvoja:
#dtbook.listNoDaisy3SmillRefIfManySentencies=""
dtbook.listNoDaisy3SmillRefIfManySentencies=line
dtbook.pagenum_onoff=on
# kuva-tyypit
picture_exts = jpg png
picture_media_types = jpeg png
# audio-tyypit
audio_exts = mp3
audio_media_types = mpeg

# media-type:t
smil = application/smil
ncx  = application/x-dtbncx+xml
res  = application/x-dtbresource+xml
opf  = text/xml
xml  = application/x-dtbook+xml
smil = application/smil
ncx  = application/x-dtbncx+xml
res  = application/x-dtbresource+xml
opf  = text/xml
dtbook_xml=application/x-dtbook+xml
mp3  = audio/mpeg
css  = text/css
jpg  = image/jpeg
 
# luettavat template tiedostot ja niiden jäjestys (jotkin muutetaan toisiksi tiedostonimiksi, toisista jatetaan .tmpl pois):
templatefiles = speechgen.opf.tmpl speechgen.smil.tmpl par_sequence.tmpl dtbook.xml.tmpl speechgen.ncx.tmpl
# luettava lipsync tiedostot ja niiden jarjestys:
# xmlfles=1.xml, 2.xml, 3.xml, 4.xml, 5.xml, 6.xml, 7.xml, 8.xml, 9.xml, 10.xml, 11.xml, 12.xml, 13.xml, 14.xml, 15.xml, 16.xml, 17.xml, 18.xml, 19.xml
# xmlfles=1.xml, 2.xml, 3.xml
xmlfles=1.xml, 2.xml, 3.xml, 4.xml, 5.xml