       <navPoint class="$strclass" id="$strid" playOrder="$strplayorder">
         <navLabel>
            <text>$text</text>
            <audio clipBegin="$clipBegin" clipEnd="$clipEnd" src="$src"/>
         </navLabel>
         <content src="$content_src#$dtb_id"/>
		 $navPoint
       </navPoint>
