	<pageTarget class="pagenum" id="$strid" playOrder="$strplayOrder" type="normal" value="$strvalue">
          <navLabel>
            <text>$strvalue</text>
            <audio clipBegin="$clipBegin" clipEnd="$clipEnd" src="$src"/>
          </navLabel>
          <content src="$content_src#$dtb_id"/>
	</pageTarget>
