 		 <par endsync="last" id="$par_id" $page>
            <text id="$text_id" src="content.html#$content_id" />
            <audio src="$smil_file_name" id="$audio_id" clip-begin="$clip_begin" clip-end="$clip_end" />
         </par>