         <par $custompagetemplate id="$par_id">
            <text id="$text_id" src="$dtbookfilename#$dtb_id" />
            <audio clipBegin="$clip_begin" clipEnd="$clip_end" src="$speec_file_name" />
         </par>