<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE smil
  PUBLIC "-//NISO//DTD dtbsmil 2005-2//EN" "http://www.daisy.org/z3986/2005/dtbsmil-2005-2.dtd">
<smil xmlns="http://www.w3.org/2001/SMIL20/">
   <head>
   <meta content="304481" name="dtb:uid"/>
      <meta content="TPB Narrator" name="dtb:generator"/>
      <meta name="dc:format" content="Daisy 2.02" />
      <meta name="dc:identifier" content="$dc_identifier" />
      <meta name="dc:title" content="$dc_title" />

      <layout>
         <region id="$region_id" />
      </layout>
   </head>
   <body> 
   $smil
   </body>
</smil>