<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE smil
  PUBLIC "-//NISO//DTD dtbsmil 2005-2//EN" "http://www.daisy.org/z3986/2005/dtbsmil-2005-2.dtd">
<smil xmlns="http://www.w3.org/2001/SMIL20/">
   <head>
        $speechgen_meta
	$customAttributes
  </head>
  <body>
        $seq
  </body>
</smil>