 <par id="tcp15" endsync="last" system-required="pagenumber-on">
            <text id="text15" src="content.html#page10" />
            <audio src="speechgen0002.mp3" id="audd9e49" clip-begin="npt=46.900s" clip-end="npt=48.282s" />
         </par>
          		 <par endsync="last" id="$par_id">
            <text id="$text_id" src="content.html#$content_id" />
            <audio src="$smil_file_name" id="$audio_id" clip-begin="$clip_begin" clip-end="$clip_end" />
         </par>