         <par endsync="last" id="doctitle">
            <text id="doctitleText" src="content.html#h1classtitle" />
            <audio src="$smil_file_name" id="$audio_title" clip-begin="$clip_begin" clip-end="$clip_end" />
         </par>
