         <par endsync="last" id="$par_id">
            <text id="$text_id" src="content.html#$dtb_id" />
            <audio src="$speec_file_name" id="$audio_id" clip-begin="$clip_begin" clip-end="$clip_end" />
         </par>         